#dashboard-container {
	display: flex;
	width: 100vw;
	height: 100vh;
}

#hamburger-menu {
	background: green;
	height: 48px;
	width: 48px;
	position: absolute;
	top: 50pt;
	left: 0;
}

.content-area {
	flex: 1;
	margin-left: 200pt;
	padding: 20pt;
	overflow-y: auto;
	transition: margin-left 0.3s ease-in-out;
}

/* Responsive styles */
@media (max-width: 884px) {
	.content-area {
		margin-left: 0; /* Remove margin since navbar is hidden */
	}
}
