#dashboard-container {
	display: flex;
	width: 100vw;
	height: 100vh;
}

#hamburger-menu {
	background: #fff5;
	backdrop-filter: blur(10pt);
	height: 48px;
	width: 48px;
	position: absolute;
	top: 0pt;
	left: 0pt;
	z-index: 1000;
	border-radius: 0pt 0pt 5pt 0pt;
}

.content-area {
	flex: 1;
	margin-left: 200pt;
	padding: 20pt;
	overflow-y: auto;
	transition: margin-left 0.3s ease-in-out;
}

/* Responsive styles */
@media (max-width: 884px) {
	.content-area {
		margin-left: 0pt; /* Remove margin since navbar is hidden */
		padding: 0pt;
		transition-duration: 0.5s;
	}
}
