#navbar-container {
	display: flex;
	flex-direction: column;
	background: #343031;
	width: 200pt;
	height: 100vh;
	position: fixed;
}

#title {
	height: 50pt;
	width: 100%;
	padding: 5pt 5pt;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
}

.entry {
	padding: 5pt 5pt;
	background: none;
	text-align: left;
	font-size: 13pt;
	width: 100%;
	height: 25pt;
}

.entry:hover {
	background: #575052;
}

.entryService {
	display: flex;
	flex-wrap: nowrap;
	gap: 5pt;
	align-items: center;
	justify-content: left;
}

.active {
	background: #464142;
}

#divider {
	height: 2pt;
	width: 100%;
	background: white;
}

.entry,
#navbar-container {
	color: white;
}

#services {
	margin-bottom: auto;
}
