#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#wrapper {
	width: 400pt;
	height: 400pt;
	border-radius: 15pt;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #313034aa;
	backdrop-filter: blur(10pt);
	padding: 20pt;
}

#wrapper > form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20pt;
}

#wrapper > form > * {
	margin-top: 10pt;
}

#logoWrapper {
	margin: 40pt 20pt auto 20pt;
	width: 100%;
	position: relative;
}

#logoWrapper > img {
	height: auto;
	align-items: center;
	display: flex;
	flex-direction: column;
	filter: drop-shadow(0pt 10pt 10pt rgba(0, 0, 0, 0.3));
	user-select: none;
}

#logoWrapper > p {
	font-size: 15pt;
	margin-top: 10pt;
	width: 100%;
	text-align: center;
	color: white;
}

#content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#field {
	border: solid 2pt #9995;
	outline: none;
	background: #5555;
	color: white;
	padding: 12pt 8pt;
	font-size: 12pt;
	transition-duration: 0.25s;
}

#field:focus,
#field:hover {
	border: solid 2pt #ffe989;
	transition-duration: 1s;
}

#field:focus {
	background: #ffe98911;
	transition: 0s;
}

#submit {
	color: black;
	height: 30pt;
	margin-bottom: 7pt;
}

#submit-text {
	font-weight: bold;
}

#submit-text,
#error {
	font-size: 12pt;
	color: black;
}

#error {
	background: #f88;
	color: black;
	width: 100%;
	height: 30pt;
	display: flex;
	align-items: center;
	justify-content: center;
}

#field,
#submit,
#error {
	border-radius: 5pt;
}

#IPAddress {
	font-family: "Courier New", Courier, monospace;
	font-weight: 100;
	color: #323031;
	font-size: 16pt;
}

#ipOverlay {
	position: absolute;
	top: 50%;
	left: 50%;
	/* Transform from center */
	transform: translate(-167pt, -5pt);
	z-index: 1;
}
