#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#wrapper {
	width: 400pt;
	height: 400pt;
	border-radius: 15pt;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #313034aa;
	backdrop-filter: blur(10pt);
}

#wrapper > form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20pt;
}

#wrapper > form > * {
	height: 30pt;
	margin-top: 10pt;
	padding: 0pt 5pt;
}

#logo {
	margin: 40pt 0pt 70pt 0pt;
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}
#logo > p {
	font-size: 15pt;
	margin-top: 10pt;
}

#placeholder {
	height: 150pt;
	width: min(300pt, 100%);
	background: brown;
	text-align: center;
}

#content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#field {
	border-radius: 5pt;
	border: solid 2pt #0005;
	outline: none;
}

#submit {
	color: black;
	border-radius: 5pt;
}
