.styled-table {
	width: 100%;
	border-collapse: collapse;
}

.styled-table td {
	border: 1px solid #111;
	padding: 8px;
	text-align: left;
}

.styled-table th {
	border: 1px solid #111;
	font-weight: bold;
	padding: 8pt;
}

.styled-table tbody tr:nth-child(odd) {
	background-color: #222a;
}

.styled-table tbody tr:hover {
	background-color: #333a;
}

.no-data {
	/* Styles stolen from Material UI X Charts */
	text-align: center;
	margin-top: 20pt;
	font-size: 11pt;
	color: #aaa;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.43;
	letter-spacing: 0.01071em;
	shape-rendering: crispEdges;
	text-anchor: middle;
	dominant-baseline: middle;
}

.resource,
.service {
	word-wrap: break-word;
	word-break: break-all;
	overflow-wrap: break-word;
}
