#container {
	display: flex;
	margin: 10pt 10pt;
	border-radius: 5pt;
	background: #4e494a;
}

#container > button {
	flex-grow: 1;
	font-size: 15pt;
	border-radius: 15%;
	padding: 5pt 0pt;
}

.active {
	background: #ffd20a;
	color: black;
}

.active:hover {
	background: #ffe989;
}

.passive {
	background: none;
	color: white;
}

.passive:hover {
	background: #686162;
	color: white;
}
