#container {
	display: flex;
	margin: 10pt 10pt;
	border-radius: 5pt;
	overflow: hidden;
}

#container > button {
	flex-grow: 1;
	font-size: 15pt;
	padding: 5pt 0pt;
}

.active {
	color: black;
}
.active:focus-visible {
	background: #ffe989;
	outline: none;
}

.passive {
	color: white;
}

.passive:not(:first-child) {
	border-left: 2pt solid #777;
}

.passive:hover,
.passive:focus-visible {
	background: #676767;
	color: white;
	outline: none;
}
