.graph-group {
	margin: 0pt 20pt 20pt 20pt;
	background: #343031dd;
	backdrop-filter: blur(10pt);
	padding: 0pt 20pt 20pt 20pt;
	border-radius: 10pt;

	box-shadow: 0pt 0pt 10pt #0000;
	transition-duration: 0.5s;
}

.graph-group:hover {
	box-shadow: 0pt 0pt 10pt #000a;
	transition-duration: 0.5s;
}

#pie-charts {
	display: flex;
	flex-wrap: wrap;
}

#pie-charts > * {
	flex-grow: 1;
}
