#container {
	max-width: 1100pt;
	min-width: 325px;
	height: 100%;
	margin: 0pt auto;
}

#summary-group,
.graph-group {
	margin-bottom: 20pt;
}

#summary-group {
	width: 100%;
	display: flex;
	gap: 10pt;
}

.summary-card,
.graph-group {
	background: #333333f8;
	box-shadow: 0pt 0pt 10pt #0000;
	border-radius: 10pt;
	transition-duration: 0.5s;
}

.graph-group:hover,
.summary-card:hover {
	box-shadow: 0pt 0pt 10pt #000a;
}

.summary-card {
	display: flex;
	width: 25%;
	padding: 10pt;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.summary-card h2 {
	user-select: text;
	-webkit-user-select: text;
}

.graph-group {
	padding: 0pt 20pt 20pt 20pt;
}

#pie-charts {
	display: flex;
	flex-wrap: wrap;
}

#pie-charts > * {
	flex-grow: 1;
}

@media (max-width: 884px) {
	.graph-group {
		padding: 0pt 10pt 10pt 10pt;
	}
	#container {
		margin-top: 60pt;
		height: calc(100% - 60pt);
	}
}
