#container {
	max-width: 1000pt;
	height: 100%;
	margin: 0pt auto;
	padding: 10pt 20pt;
	background: #343031;
}

#fancy-table {
	width: 100%;
}

#pie-charts {
	display: flex;
	flex-direction: row;
}

#pie-charts > * {
	flex-grow: 1;
}
