body {
	height: 100vh;
	width: 100vw;
	margin: 0pt;
	padding: 0pt;
	background: #1d1a1b;
}

.secondary-background {
	background: #343031;
}

.tertiary-background {
	background: #4e494a;
}

.primary,
flavor-button:active {
	background: #ffd20a;
	color: #ffd20a;
}

.primary:hover {
	background: #ffe989;
}

* {
	padding: 0pt;
	margin: 0pt;
	font-family: "Arial Rounded MT Bold", "Arial", sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
}

h1 {
	font-size: 24pt;
}

h2 {
	font-size: 18pt;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
	color: white;
}

button:disabled {
	opacity: 50%;
	cursor: not-allowed;
}

tr {
	display: flex;
}
td,
th {
	flex: 1;
}

th {
	text-align: left;
}
