body {
	height: 100vh;
	width: 100vw;
	margin: 0pt;
	padding: 0pt;
	background: #eee;
}

.primary,
flavor-button:active {
	background: #ebbf;
	color: black;
}

.secondary,
dialog h2 {
	background: #ec9a9a;
	color: black;
}

.tertiary {
	background: #fff8;
	color: black;
}

* {
	padding: 0pt;
	margin: 0pt;
	font-family: "Arial Rounded MT Bold", "Arial", sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

button {
	cursor: pointer;
	color: black;
	border: none;
}

h1 {
	font-size: 24pt;
}

h2 {
	font-size: 18pt;
}

button:disabled {
	opacity: 50%;
	cursor: not-allowed;
}

tr {
	display: flex;
}
td,
th {
	flex: 1;
}

th {
	text-align: left;
}
